.rHeader, .rFooter{
    width: 100%;
    min-height:70px;
    background: #0068FF;
    float: left;
}

.rHeader{
    margin-bottom: 15px;
}

.rFooter{
    margin-top: 15px;
}

.rNav, .rSidebar, .rMainContent{
    width: 100%;
    min-height:470px;
    background: #67A4FF;
    float: left;
}

.rMainContent{
    background: #A5A6AB;   
}
