
.rTurbo{
    width: 100%;
    min-height: 70px;
    background-color: red;
    float: left;
}

.rRza{
    width: 100%;
    min-height: 70px;
    background-color: purple;
    float: left;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.rRza ul {
    padding: 0px;
    margin: 0px;
}

.rRza ul li{
    float: left;
    list-style-type: none;
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

.enli{
    width: 100%;
}

