body{
    margin: 0 auto;
    padding: 0px;
    background-image: url('https://www.travelandleisure.com/thmb/VscfMXHNO6uBpaX2cuIW1q2ZtA8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/tokyo-japan-TOKYOTG0621-52012ff551dc46c4a87ac8e3151307a4.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#kv{
    width: 250px;
    height: 250px;
    /* background: red; */
    float: left;
    position: fixed;
    transition: 0.5s;
    bottom: 0;
}

#kv img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}


/* 
#car{
    width: 250px;
    height: 250px;

    object-fit: contain;
} */