
body{
    margin: 0 auto;
    padding: 0px;
}

.main{
    width: 250px;
    height: 250px;
    background: grey;
    float: left;
    position: relative;
    left: 200px;
    top: 200px;
    transition: 0.5s;
}

.main img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.tul{
    width: 250px;
    height: 250px;
    background: #0016ff;
    float: left;
    position: absolute;
    opacity: 0.6;
   
}

.text{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    float: left;
    position: absolute;
 
   
    
}

.main:hover{
    box-shadow: 5px 5px 10px #0079ff;
}







/* .myDiv::before{
    content: "Menim";
}

.myDiv::after{
    content: "Rzadir";
} */


.kv{
    width: 150px;
    height: 150px;
    background: red;
    float: left;
    border: 5px solid blue;
    position: relative;
    left: 600px;
    top: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}


.kv::before{
    content: "Test";
    width: 200px;
    height:20px;
    background: blue;
    float: left;
    position: fixed;
    right: 550px;
 
}

.kv::after{
    content: "";
    width: 200px;
    height:20px;
    background: green;
    float: left;
    position: fixed;
    left:370px;

}







