:root{
    --bg: lightgreen;
}

body{
    margin: 0px auto;
    padding: 0px;
}

.padding20{
    padding: 20px;
    box-sizing: border-box;
}

.main{
    width: 1000px;
    min-height: 500px;
    /* background: grey; */
    float: left;
}

.header{
    width: 1000px;
    min-height: 70px;
    background: var(--bg);
    float: left;
}

.center{
    width: 1000px;
    min-height: 320px;
    /* background: green; */
    float: left;
    margin: 20px 0;
}


.sol{
    width: 320px;
    min-height: inherit;
    background: var(--bg);
    float: left;
    text-align: justify;
}

.orta{
    width: 320px;
    min-height: inherit;
    background: var(--bg);
    float: left;
    margin: 0px 20px;
    text-align: justify;
}

.sag{
    width: 320px;
    min-height: inherit;
    background: var(--bg);
    float: left;
    text-align: justify;
}

.footer{
    width: 1000px;
    min-height: 70px;
    background: var(--bg);
    float: left;
}