/* .a {
    width: 650px;
    height: 200px;
    background: grey;
    float: left;
    overflow-y: scroll;
}

.a::-webkit-scrollbar {
    width: 50px;
}

.a::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.a::-webkit-scrollbar-thumb {
    background-image: url('https://static.wikia.nocookie.net/simpsons/images/b/bd/Homer_Simpson.png/revision/latest?cb=20221226145155');
    background-size: contain;
    background-repeat: no-repeat;
}

.a::-webkit-scrollbar-thumb:hover {
    background-image: url('https://upload.wikimedia.org/wikipedia/pt/thumb/0/02/Homer_Simpson_2006.png/200px-Homer_Simpson_2006.png');
    background-size: cover;
    background-repeat: no-repeat;
} */



/* .pr_main{
    width: 600px;
    height: 30px;
    background: grey;
    float: left;
    margin: 5px 15px;
    border-radius: 5px;
    overflow: hidden;
}

.pr_main div{
    width: 70%;
    height: 30px;
    background: blue;
    float: left;
    transform: 0.5s;
    border-radius: 5px;
} */



/* .pie-chart {
	background:
		radial-gradient(
			circle closest-side,
			transparent 60%,
			white 0
		),
		conic-gradient(
			from 11deg,
			#4e79a7 0,
			#4e79a7 38%,
			#f28e2c 0,
			#f28e2c 61%,
			#e15759 0,
			#e15759 77%,
			#76b7b2 0,
			#76b7b2 87%,
			#59a14f 0,
			#59a14f 93%,
			#edc949 0,
			#edc949 100%
	);
	position: relative;
	width: 500px;
	min-height: 350px;
	margin: 0;
	outline: 1px solid #ccc;
}
.pie-chart h2 {
	position: absolute;
	margin: 1rem;
}
.pie-chart cite {
	position: absolute;
	bottom: 0;
	font-size: 80%;
	padding: 1rem;
	color: gray;
}
.pie-chart figcaption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: smaller;
	text-align: right;
}
.pie-chart span:after {
	display: inline-block;
	content: "";
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.4em;
	height: 0.8em;
	border-radius: 0.2em;
	background: currentColor;
} */