
.main_menu{
  width: 320px;
  height: 160px;
  /* background: blue; */
  float: left;
}

.menu{
  width: 70px;
  height: 70px;
  background: red;
  float: left;
  margin: 5px;
  color: white;
  text-align: center;
  /* padding: 20px;
  box-sizing: border-box; */
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  /* padding: 20px 5px;
  box-sizing: border-box; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu:hover{
  
  box-shadow: 5px 5px 12px #564a4a,
  5px 5px 12px #564a4a,
  5px 5px 12px #564a4a;
}

.menu a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}


.vk{
  width: 150px;
  height: 150px;
  /* background-color: red; */
  float: left;
  margin: 20px;
  transition: 0.5s;

}

/* .vk:hover{
  box-shadow: 28px 20px 5px #564a4a, 
  -21px -23px 5px blue, 
  -48px 30px 16px green;
  transform: rotate(180deg);
  border-radius: 50%;
  background: blueviolet;
} */

.p{
  transition: 0.5s;
}

.p:hover{
  text-shadow: 28px 20px 5px #564a4a, 
  -11px -13px 5px blue, 
  -28px 20px 5px green;
}